In [2]:
import pandas as pd
import os

data_dir = "data/pascal_2007"

train_df = pd.read_csv(os.path.join(data_dir, "train.csv"))

train_df.head()

        fname        labels  is_valid
0  000005.jpg         chair      True
1  000007.jpg           car      True
2  000009.jpg  horse person      True
3  000012.jpg           car     False
4  000016.jpg       bicycle      True

In [3]:
from fastai.vision.all import DataBlock

dblock = DataBlock()
dsets = dblock.datasets(train_df)

len(dsets.train),len(dsets.valid)

(4009, 1002)

In [4]:
x, y = dsets.train[0]
x, y

(fname       006166.jpg
 labels           train
 is_valid         False
 Name: 3096, dtype: object,
 fname       006166.jpg
 labels           train
 is_valid         False
 Name: 3096, dtype: object)

In [5]:
dblock = DataBlock(get_x=lambda r: r["fname"], get_y=lambda r: r["labels"])
dsets = dblock.datasets(train_df)

dsets.train[0]

('000370.jpg', 'boat')

In [6]:
def get_x(r): return os.path.join(data_dir, "train", r["fname"])
def get_y(r): return r["labels"].split(" ")

dblock = DataBlock(get_x=get_x, get_y=get_y)
dsets = dblock.datasets(train_df)
dsets.train[0]

('data/pascal_2007/train/003429.jpg', ['person', 'horse'])

In [9]:
from fastai.vision.all import ImageBlock, MultiCategoryBlock

dblock = DataBlock(blocks=[ImageBlock, MultiCategoryBlock],
                   get_x=get_x,
                   get_y=get_y)
dsets = dblock.datasets(train_df)
dsets.train[0]

(PILImage mode=RGB size=375x500,
 TensorMultiCategory([0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
                      0., 0., 0., 0., 0.]))