In [1]:
import pandas as pd
import os

data_dir = "data/pascal_2007"

train_df = pd.read_csv(os.path.join(data_dir, "train.csv"))

train_df.head()

        fname        labels  is_valid
0  000005.jpg         chair      True
1  000007.jpg           car      True
2  000009.jpg  horse person      True
3  000012.jpg           car     False
4  000016.jpg       bicycle      True

In [4]:
from fastai.vision.all import DataBlock

dblock = DataBlock()
dsets = dblock.datasets(train_df)

len(dsets.train),len(dsets.valid)

(4009, 1002)